<!doctype html>
<html>
  <head>
  </head>
  <body>
    <div class="container">
      <h1>Paper Rock Scissors</h1>
      <div id="chat-log"></div>
      <div id="form">
        <input type="text" id="message">
        <button id="disconnect">Disconnect</button>
      </div>
    </div>

    <script src="/js/vendors/jquery-2.1.1.min.js"></script>
    <script src="/js/game.js"></script>
  </body>
</html>
